<article>
  <header class="mb-14">
    <h1 class="my-0! pb-2.5">{{ post.title }}</h1>
    <div class="text-xs antialiased opacity-60">
      <time>{{ post.date | date: "%B %d, %Y" }}</time>
    </div>
  </header>
  
  <section>{{ post.rendered_content }}</section>
  
  {% if post.tags and post.tags.size > 0 %}
  <footer class="mt-12 flex flex-wrap">
    {% for tag in post.tags %}
    <a class="mb-1.5 rounded-lg bg-black/[3%] px-5 py-1 no-underline hover:bg-black/[6%] ltr:mr-1.5 rtl:ml-1.5 dark:bg-white/[8%] dark:hover:bg-white/[12%]" href="/tags/{{ tag | downcase | replace: ' ', '-' }}">{{ tag }}</a>
    {% endfor %}
  </footer>
  {% endif %}
</article>
